cmake-build-debug
debug/
Exe/
release/
doc/
bug_examples/
COPY.txt
*.scb
*.suo
build/
*.sdf
*.opensdf
*.opendb
ipch/
*.user
*.ncb
# CLion files
*.idea
doc/output
doc/tags
examples/**/*.png
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
src/thirdParty/googletest
